
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <header>
        </header>
        <main>
            <div class="wrapper-main">
                <div class="login-wrapp">
                    <h1>регистрация</h1>
                    <form method="POST" action="/register">
                        <input type="text" name = "username" placeholder="login" required/>
                        <input type="password" name = "password" placeholder="password" required/>
                        <input type="submit" value="зарегестрироваться"/>
                    </form>
                    <a href="/login">авторизация</a>
                </div>
            </div>      
        </main>
        <footer>
        </footer>
    </body>
    </html>
    